pkgbase = dartpdf-bin
	pkgdesc = Local PDF editor with annotations, forms, signatures and redaction
	pkgver = 8.0.0
	pkgrel = 1
	url = https://dart-pdf.com
	arch = x86_64
	license = Apache-2.0
	depends = gtk3
	depends = libsecret
	optdepends = org.freedesktop.secrets: store digital-signing identities in a keyring
	provides = dartpdf
	conflicts = dartpdf
	options = !strip
	source = dartpdf-8.0.0.tar.gz::https://github.com/ben-milanko/dart-pdf/releases/download/app-v8.0.0/dartpdf-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/ben-milanko/dart-pdf/app-v8.0.0/LICENSE
	sha256sums = 3bb2bf6b940020de29ba45101680b70f758e83090b3b18eb09541c1c80b414f2
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = dartpdf-bin
